/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@import "foundation/all";

/*==============================================
 =                   Base                      =
 =============================================*/

@import "base/reset";
@import "base/root";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}

h1 {
  font-size: $h-1-font-size;
  font-weight: $h-1-font-weight;
}

h2 {
  font-size: $h-2-font-size;
  font-weight: $h-2-font-weight;
}

h3 {
  font-size: $h-3-font-size;
  font-weight: $h-3-font-weight;
}

h4 {
  font-size: $h-4-font-size;
  font-weight: $h-4-font-weight;
}

h5 {
  font-size: $h-5-font-size;
  font-weight: $h-5-font-weight;
}

h6 {
  font-size: $h-6-font-size;
  font-weight: $h-6-font-weight;
}

@import "atoms/Button.scss";
@import "atoms/Checkbox.scss";
@import "atoms/Margin.scss";
@import "atoms/Padding.scss";
@import "atoms/Grid.scss";
@import "atoms/Text.scss";
@import "atoms/Utilities.scss";
@import "molecules/Card.scss";
@import "molecules/Header.scss";
@import "molecules/Footer.scss";
@import "molecules/Input.scss";
@import "molecules/Select.scss";
@import "organisms/Form.scss";
@import "templates/Layout.scss";