@import "foundation/all";

@each $size, $value in $spacing {
  .atds-margin-#{$size} {
    margin: $value;
  }

  .atds-margin-left-#{$size} {
    margin-left: $value;
  }

  .atds-margin-right-#{$size} {
    margin-right: $value;
  }

  .atds-margin-top-#{$size} {
    margin-top: $value;
  }

  .atds-margin-bottom-#{$size} {
    margin-bottom: $value;
  }
}
