@import "foundation/all";

@each $size, $value in $spacing {
  .atds-padding-#{$size} {
    padding: $value;
  }

  .atds-padding-left-#{$size} {
    padding-left: $value;
  }

  .atds-padding-right-#{$size} {
    padding-right: $value;
  }

  .atds-padding-top-#{$size} {
    padding-top: $value;
  }

  .atds-padding-bottom-#{$size} {
    padding-bottom: $value;
  }
}
